/* establishes a variable of repeating declared properties  */
:root {
    --dark: black;
    --light: lightblue;
}

/* targets the html to allow for a smoother user experience */
html {
    scroll-snap-type: smooth;
    min-height: 100%; 
  }

/* universal */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--dark);
}

/* header is parent to h1 which allows the flex property to be inherited by child */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: var(--dark);   
}

/* I gave this a small transition to give a little zaz */
h1 {
    background-color: var(--dark);
    color: var(--light); 
    margin-left: 50px;
    margin-top: 40px;
    font-size: 50px;
    padding: 10px 10px 10px 80px;
    border-radius: 5%;
    transition: 2s; 
}

/* Targets everything outside the header */

/* h2 = Portfolio */
h2 {
    position: absolute;
    color: var(--light);
    display: flex;
    right: 50px;
    top: 300px;
    font-size: 40px;
    padding: 10px;
    border-radius: 10%;
    text-decoration: underline;
}


/*background banner*/
hero img {
    width: 100%;
    height: 250px;
 
}

/* Nav-bar properties */
nav {
    display: flex;
    justify-content: flex-end;
    position:absolute;
    top: 65px;
    right: 40px;
    z-index: 1;
}


nav button a {
    color: var(--light);
    padding: 10px 15px;
    text-align: center; 
    font-size: 20px;
    text-decoration: underline;
    border-radius: 10%;    
}

nav button a::after:hover {
    cursor: pointer;
   }

/* this selects all the images below the large image */
article .imgs {
    flex-basis: 24%;
    height: 200px;
    justify-content: space-between;
    border: 10px;  
    border-color: var(--light); 
    border: 5px solid var(--light);
}

/* targets the large image */
article .img-1 {
    flex-basis: 100%;
    height: 500px;
    margin: 30px;
    justify-content: center;
   border: 5px solid var(--light);
}

/* about me paragraph */
 #about-me p {
    font-size: 25px;
    padding: 30px 30px 30px 30px;
    flex-basis: 80%;
    color: var(--light);  
    font-style: italic;
    margin-right: 20px;
} 

/* targets the headers for each section */
#about-me, 
#work,
 #contact h3 {  
    padding: 30px 0px;
    text-align: center;
    margin-left: 170px;
    font-size: 50px;
     display: flex; 
    color: var(--light);

  
   
} 

/* Universal Button */
button {
    background-color: var(--dark);
    border: 0;
} 


/* Targets Contacts Class */
.contacts {
    color: var(--light);
    text-align: center; 
    font-size: 20px;
    text-decoration: underline;
    display: inline-block;
    padding: 10px; 
    margin: 30px 30px 30px 70px;
}

/* Allows contacts class to have psuedo elements */
.contacts::after:hover {
    cursor: pointer;
}

/* Targets specifically work header */
#work h3{
    margin-left: 25px;
  
}

/* Univeral */
a {
    color: var(--light);
}

/* Targets section id contact  */
#contact {
    display: flex;
}


/* Media Queries :( */
@media screen and (max-width: 768px) {
  
    /* Attempted to manipulate for responsiveness */
 nav {   
      flex-direction: column;
      max-width: 100%; 
      padding: 30px;
    }

    hero image {
        max-width: 100%;
    }
    


h1 {
    width: 100%;
   }

 nav {
     position: relative;  
  }

}